{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block header-title %}Welcome to Mediasnak!{% endblock %}

{% block sidebar %}
Group Members:
<ul style="font-size: 80%">
    <li>Kieran Stephen</li>
    <li>Oliver Smith</li>
    <li>Ben Jones</li>
    <li>Jun "Roy" Li</li>
</ul>
{% endblock %}

{% block content %}
<!--h1>Welcome to Mediasnak!</h1-->

<p>
Mediasnak is a project being carried out by a group of software students at the Queensland University of Technology for their INB372 Agile Software Development class. It is currently in active development.
</p>
{% endblock %}
