<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}{% endblock %} - MediaSnak</title>

    <link rel="icon" type="image/x-icon" href="http://s3.mediasnak.com/assets/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="style.css" />
    {% block css %}
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body>
    <div id="header">
      <a id="logo" href="/"><img src="http://s3.mediasnak.com/assets/icon.png" alt="MediaSnak" style="margin-left:2%;margin-top:1%"></a>
      <h1>{% block header-title %}{% endblock %}</h1>
    </div>

    <div class="columns">
      <div id="sidebar" class="column">
        {% block sidebar %}
        {% endblock %}
        <ul>
			<li><a href="/">Home</a>
			<li><a href="upload">Upload</a>
			<li><a href="files">All Files</a>
			<li><form method="GET" action="search_files">
				<input type="text" name="searchterm" />
				<select name="searchby">
					<option value="default">Search everything</option>
					<option value="filename">Search filename</option>
				</select>
				<input type="submit" value="Search" />
			</form></li>
        </ul>
      </div>
      
      <div id="content" class="column">
        {% block content-header %}
          {% if error %}<div class="error"><h3>Oops! We seem to have encountered an error!</h3><p>{{ error }}</p></div>{% endif %}
          {% if info %}<div class="info">{{ info }}</div>{% endif %}
          {% if messages %}
            {% for message in messages %}
              <div class="info">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endblock %}

        {% block content %}{% endblock %}
      </div>
    </div>

    <div id="footer">
      <p>Powered by <a href="http://www.allbuttonspressed.com/projects/django-nonrel">Django-nonrel</a></p>
    </div>

    {% block js %}
    {% endblock %}
  </body>
</html>
