<!DOCTYPE html> <!-- this is HTML5 -->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>MediaSnak - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/static/style.css">
        {% block css %}
        {% endblock %}

        {% block preload_js %}
        {% endblock %}

        {% block extra-head %}{% endblock %}
    </head>

    <body>
        <div id="wrapper">

            <div id="header">
                <div id="hfloat">
                
                    {% if username %}Welcome, {{ username }} - <a href="{{ logout_url }}">Logout</a>
                    {% else %}<a href="{{ login_url }}">Log in with your Google Account</a>
                    {% endif %}
               
                </div>
                <img id="logo" src="http://s3.mediasnak.com/assets/icon.png" width="230" height="94" alt="logo"><br><br><h1>{% block header-title %}{% endblock %}</h1>
            </div>
            <div id="navbar">
                <form id="searchform" method="GET" action="files">
                    <input type="text" name="searchterm" id="searchbox">
                    <!--<input type="hidden" name=searchby" value="default">-->
                    <select name="searchby">
                        <option value="default">Search by everything</option>
                        <option value="filename">Search by filename</option>
                        <option value="uploadtime">Search by Upload time</option>
                        <option value="comment">Search by Comment</option>
                        <option value="tags">Search by Tag</option>
                    </select>
                    <input type="submit" name="submit" value="Search" id="submit">
                </form>
                <a href="/"><div class="navlink">Home</div></a>
                <a href="/files"><div class="navlink">Browse</div></a>
                <a href="/upload"><div class="navlink">Upload</div></a>
                <a href="#"><div class="navlink">Organise</div></a>
            </div>
            <div id="sidebar">
                {% block sidebar %}{% endblock %}
            </div>
            <div id="content">
                {% block content-header %}
                {% if error %}<div class="error"><h3>Oops! We seem to have encountered an error!</h3><p>{{ error }}</p></div>{% endif %}
                {% if info %}<div class="info">{{ info }}</div>{% endif %}
                {% if messages %}
                {% for message in messages %}
                <div class="info">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endblock %}

                {% block content %}{% endblock %}

            </div> <!-- /content -->
            <div class="zero">&nbsp;<!-- this div required for positioning --></div>

            <div id="footer"><a href="/about">About</a> - <a href="mailto:oliver@mediasnak.com">Contact Us</a> - <a href="/about/tos">Terms of Service</a> - <a href="http://code.google.com/p/mediasnak">Source Code</a><br>Copyright &copy; 2011 TerrorBite Industries.</div>

        </div>
        {% block js %}
        {% endblock %}
    </body>
</html>
