{% extends 'base.html' %}
{% load msnak %}

{% block title %}All Files{% endblock %}
{% block header-title %}All Files{% endblock %}

{% block extra-head %}
{% endblock %}

{% block css %}
<style type="text/css">
    {# Common styles #}
    .red:hover {
        color: red;
    }
    {% ifequal view "list" %}
    div#content {
        /* this is kinda retarded */
        padding: 0 0 0 1px;
    }
    div.filelist {
        display: table;
        width: 100%;
        margin: 0;
    }
    div.fileentry {
        display: table-row;
        margin: auto 0;
    }
    div.fileentry:nth-child(odd) {
        background-color: #efe;
    }
    div.fileentry:nth-child(even) {
        background-color: #fff;
    }
    div.filelistheader {
        display: table-header-group;
        background-color: #ced;
    }
    div.fileentry span, div.filelistheader span {
        /* "Table Cell" */
        display: table-cell;
        padding: 0.2em 0.4em;
        text-align: center;
    }
    div.fileentry span {
        font-size: 80%;
    }
    div.filelistheader span {
        border-bottom: solid thin #ccc;
    }
    div.fileentry span form {
        margin: 0;
        padding: 0;
        display: inline-block;
    }
    .filename {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 200px;
    }
    {% else %}
    div#content {
        padding: 0;
        font-size: 0;
    }
    div.imgbox {
        text-align: center;
        width: 200px;
        height: 150px;
    }
    img.thumbimg {
        max-width: 200px;
        max-height: 150px;
    }
    div.thumbitem {
        font-size: 10pt;
        text-align: left;
        display: inline-block;
        border: solid thin #ccc;
        margin: 8px 0 0 8px;
    }
    div.thumbitem form {
        display: inline-block;
        margin: 2px 5px;
    }
    div.thumbtitle {
        width: 190px;
        padding: 2px 5px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    span.thumbvcount {
        padding: 5px 5px;
        float: right;
    }
    {% endifequal %}
</style>
{% endblock %}

{% block sidebar %}
View as:<br>
<a href="?view=list">List</a><br>
<a href="?view=thumb">Thumbnails</a><br>
<hr>
Browse by Type:<br>
<a href="?type=all">All</a><br>
<a href="?type=image">Image</a><br>
<a href="?type=video">Video</a><br>
<a href="?type=audio">Audio</a><br>
<a href="?type=other">Other</a><br>
<hr>
Browse by Category:<br>
<a href="?cat=">All</a><br>
<a href="?cat=1">Category 1</a><br>
<a href="?cat=2">Category 2</a><br>
<a href="?cat=3">Category 3</a><br>
<a href="?cat=4">Category 4</a><br>
<a href="?cat=5">Category 5</a><br>
<hr>
Sort by:<br>
<a href="?sort=name">Name</a><br>
<a href="?sort=type">Type</a><br>
<a href="?sort=date">Date Uploaded</a><br>
<a href="?sort=cat">Category</a><br>
<a href="?sort=meta">Metadata</a><br>
{% endblock %}

{# TODO: INTEGRATE NEW FILE-LIST TEMPLATE WITH THIS FILE #}
{% block content %}
{% ifequal view "list" %} {# List view #}
<div class="filelist">
    <div class="filelistheader">
        <span>
            Filename
        </span>
        <span>
            Uploaded
        </span>
        <span>
            Views
        </span>
        <span>
            &nbsp;
        </span>
    </div>
    {% for f in file_list_entries %}
    <div class="fileentry">
        <span class="filename" title="{{ f.name }}">
            {{ f.name }}
        </span>
        <span class="filetime">
            {{ f.upload_time }}
        </span>
        <span class="fileviews">
            {{ f.view_count }}
        </span>
        <span class="filebuttons">
            <form action="/file-details" method="GET">
                <input type="submit" value="Details">
                <input type="hidden" name="fileid" value="{{ f.file_id }}">
            </form>
            <form action="/download" method="GET">
                <input type="submit" value="Download">
                <input type="hidden" name="fileid" value="{{ f.file_id }}">
            </form>
            <form action="/delete" method="POST">
                <input type="submit" value="Delete" class="red">
                <input type="hidden" name="fileid" value="{{ f.file_id }}">
            </form>
        </span>
    </div>
    {% empty %}
    There are no files to display.
    {% endfor %}
</div>

{% else %} {# Thumbnails view #}

{% for f in file_list_entries %}
<div class="thumbitem">
    <div class="thumbtitle">{{ f.name }}</div>
    <div class="imgbox"><img class="thumbimg" src="{{ f.file_id|thumbnail_url }}" alt="{{ f.name }}" title="{{ f.name }}"></div>
    <form action="/download" method="GET">
        <input type="submit" value="Download">
        <input type="hidden" name="fileid" value="{{ f.file_id }}">
    </form>
    <span class="thumbvcount">{{ f.view_count }} downloads</span><br>
    <form action="/file-details" method="GET">
        <input type="submit" value="Details">
        <input type="hidden" name="fileid" value="{{ f.file_id }}">
    </form>
    <form action="/delete" method="POST" style="float: right;">
        <input type="submit" value="Delete" class="red">
        <input type="hidden" name="fileid" value="{{ f.file_id }}">
    </form>
</div>   
{% empty %}
There are no files to display.
{% endfor %}
{% endifequal %} {# End views if #}
{% endblock %}
