{% extends 'base.html' %}
{% load msnak %}

{% block title %}{% if editing %}Editing {% endif %}'{{ file_name }}' Details{% endblock %}

{% block css %}
<style type="text/css">
.filedetails > div {
    margin:0.5em;
}
h2 {
    font-size:1em;
    display:inline;
}
.filepreview {
    float: right;
    border: solid black 1px;
    width: 200px;
    height: 150px;
    text-align: center;
}
.previewimg {
    max-width: 200px;
    max-height: 150px;
}
.noentry {
    color: SeaGreen;
}
</style>
{% endblock %}

{% block sidebar %}
<form action="/file-details" method="GET">
    <input type="hidden" name="fileid" value="{{ file_id }}">
    <input type="hidden" name="edit" value="{{ editing|edit }}">
    <input type="submit" value="{%if editing%}Cancel Edit{%else%}Edit Details{%endif%}">
</form>
{% endblock %}


{% block content %}
{% if editing %}
<form method="post">
{% endif %}
    <div class="filedetails">
        <div class="filepreview">
            <img src="{{ file_id|thumbnail_url }}" class="previewimg" alt="{{ file_name }} preview">
        </div>
        <div class="filename">
            <h2>Filename:</h2>
            <span class="entry">
                {% if editing %}<input type="text" name="filename" value="{% endif %}{% if not editing and not file_name %}<span class="noentry">(none)</span>{% endif %}{{ file_name }}{% if editing %}">{% endif %}
            </span>
        </div>
        <div class="filecategory">
            <h2>Category:</h2>
            <span class="entry">
                {% if editing %}<input type="text" name="filecategory" value="{% endif %}{% if not editing and not category %}<span class="noentry">(none)</span>{% endif %}{{ category }}{% if editing %}">{% endif %}
            </span>
        </div>
        <div class="filetags">
            <h2>Tags:</h2>
            <span class="entry">
                {% if editing %}<input type="text" name="filetags" value="{% endif %}{% if not editing and not tags %}<span class="noentry">(none)</span>{% endif %}{{ tags }}{% if editing %}">{% endif %}
            </span>
        </div>
        <div class="fileuploadtime">
            <h2>Uploaded:</h2>
            <span class="entry">
                {{ upload_time }}
            </span>
        </div>
        <div class="fileviewcount">
            <h2>Total Views:</h2>
            <span class="entry">
                {% if editing %}<input type="text" name="fileviewcount" value="{% endif %}{{ view_count }}{% if editing %}">{% endif %}
            </span>
        </div>
        <div class="filecomment">
            <h2>File Comment:</h2>
            <span class="entry">
                {% if editing %}<textarea name="filecomment">{% endif %}{% if not editing and not comment %}<span class="noentry">(none)</span>{% endif %}{{ comment }}{% if editing %}</textarea>{% endif %}
            </span>
        </div>
        {% if editing %}
        <input type="submit" name="submit" value="Submit Edits">
        {% else %}
        <form class="downloadlink" action="/download" method="GET">
            <input type="hidden" name="fileid" value="{{ file_id }}">
            <input type="submit" value="Download File">
        </form>
        {% endif %}
    </div>
{% if editing %}
</form>
{% endif %}
{% endblock %}
