{% extends 'base.html' %}

{% block title %}{% if editing %}Editing {% endif %}'{{ file_name }}' Details{% endblock %}

{% block css %}
<style type="text/css">
.filedetails > div {
    margin:0.5em;
}
h2 {
    font-size:1em;
    display:inline;
}
.filepreview {
    border:solid black 1px;
    width: 100px;
    height: 100px;
}
</style>
{% endblock %}

{% block sidebar %}
{% if not editing %}<a href="{# request.get_full_path #}/file-details?fileid={{ file_id }}&edit=true">Edit Details</a>{% endif %}
{% if editing %}<a href="/file-details?fileid={{ file_id }}">Don't Edit</a>{% endif %}
{% endblock %}


{% block content %}
{% if editing %}
<form method="post">
{% endif %}
    <div class="filedetails">
        <div class="filename">
            <h2>Filename:</h2>
            <span class="entry">
                {% if editing %}<input type="text" name="filename" value="{% endif %}{{ file_name }}{% if editing %}">{% endif %}
            </span>
        </div>
        <div class="filecategory">
            <h2>Category:</h2>
            <span class="entry">
                {% if editing %}<input type="text" name="filecategory" value="{% endif %}{{ category }}{% if editing %}">{% endif %}
            </span>
        </div>
        <div class="filetags">
            <h2>Tags:</h2>
            <span class="entry">
                {% if editing %}<input type="text" name="filetags" value="{% endif %}{{ tags }}{% if editing %}">{% endif %}
            </span>
        </div>
        <div class="filepreview">
            <image src="{{ download_url }}" width="100" height="100" alt="{{ file_name }} preview">
        </div>
        <div class="fileuploadtime">
            <h2>Uploaded:</h2>
            <span class="entry">
                {{ upload_time }}
            </span>
        </div>
        <div class="fileviewcount">
            <h2>Total Views:</h2>
            <span class="entry">
                {% if editing %}<input type="text" name="fileviewcount" value="{% endif %}{{ view_count }}{% if editing %}">{% endif %}
            </span>
        </div>
        <div class="filecomment">
            <h2>File Comment:</h2>
            <span class="entry">
                {% if editing %}<textarea name="filecomment">{% endif %}{{ comment }}{% if editing %}</textarea>{% endif %}
            </span>
        </div>
        <div class="downloadlink">
            <a href="{{ download_url }}">Download '{{ file_name }}'</a>
        <div>
        {% if editing %}
            <input type="submit" name="submit" value="Submit Edits">
        {% endif %}
    </div>
{% if editing %}
</form>
{% endif %}
{% endblock %}
