{% extends 'base.html' %}
{% block title %}Terms of Service{% endblock %}
{% block header-title %}Terms of Service{% endblock %}

{% block sidebar %}
Table of Contents:
<ol>
<li><a href="#s1">Copyright</a></li>
<li><a href="#s2">Disclaimer of Warranty</a></li>
<li><a href="#s3">Limitation of Liability</a></li>
<li><a href="#s4">Interpretation of Sections 2 and 3</a></li>
</ol>
{% endblock %}

{% block content %}

<h2 id="s1">1. Content.</h2>

<p>
The Mediasnak service is for personal use only.
It may not be used to store copyrighted material for which you do not own the copyright.
</p>

<h2 id="s2">2. Disclaimer of Warranty.</h2>
<p>
The Mediasnak Service is provided with NO WARRANTY, to the extent permitted by applicable law.
Except when otherwise stated in writing the copyright holders and/or other parties provide the
Service AS IS without warranty of any kind, either express or implied, including, but not limited
to, the implied warranties of merchantability and fitness for a particular purpose. The entire
risk as to the quality and performance of the Service is with you. Should the Service prove
defective, you assume the cost of all necessary servicing, repair or correction.
</p>

<h2 id="s3">3. Limitation of Liability.</h3>
<p>
IN NO EVENT UNLESS REQUIRED BY APPLICABLE LAW OR AGREED TO IN WRITING WILL ANY COPYRIGHT
HOLDER, OR ANY OTHER PARTY WHO PROVIDES AND/OR CONVEYS THE SERVICE, BE LIABLE TO YOU FOR
DAMAGES, INCLUDING ANY GENERAL, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT
OF THE USE OR INABILITY TO USE THE SERVICE (INCLUDING BUT NOT LIMITED TO LOSS OF DATA OR
DATA BEING RENDERED INACCURATE OR LOSSES SUSTAINED BY YOU OR THIRD PARTIES OR A FAILURE
OF THE SERVICE TO OPERATE WITH ANY OTHER SERVICES), EVEN IF SUCH HOLDER OR OTHER PARTY
HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
</p>

<h2 id="s4">4. Interpretation of Sections 2 and 3.</h4>
<p>
If the disclaimer of warranty and limitation of liability provided above cannot be given local
legal effect according to their terms, reviewing courts shall apply local law that most closely
approximates an absolute waiver of all civil liability in connection with the Service.
</p>
{% endblock %}
