html, body {
    margin: 0;
    background-color: #333;
    height: 100%;
    font-size: 12pt;
    font-family: sans-serif;
    color: #444;
}
a:link {
    font-weight: bold;
    text-decoration: none;
    color: /*#7cbc74*//*#88ac53*//*#4c7215*//*#687200*//*#4e5220*//*#6a702b*/#475;
}
a:visited {
    color: /*green*/#573;
}
h1{
    display: inline;
    text-align: center;
    font-family: sans-serif;
    font-size: 2.5em;
    color: #777;
}

div#wrapper {
    position: relative;
    width: 800px;
    margin: 0 auto;
    background-color: white;
    min-height: 100%;
    overflow: hidden; /* makes sure sidebar float doesn't overflow */
}

img#logo {
    width: 230px;
    height: 94px;
    vertical-align: middle;
    float: left;
}

img.thumb {
    width: 180px;
    height: 180px;
}

div#header {
    min-height: 100px;
    text-align: center;
}

div.item {
    text-align: left;
    display: inline-block;
    border: solid thin blue;
    margin: 5px;
}

div#sidebar {
    min-height: 200px;
    float: left;
    width: 150px;
    border-right: solid thin #ccc;
    margin-bottom: 40px;
    padding: 0.2em 5px;
}

div#content {
    margin-left: 160px; /* avoid sidebar */
    margin-bottom: 40px;
    padding: 0.2em 5px;
}

div#hfloat { /* user logged in section */
    margin: 0.5em 1em;
    font-size: 80%;
    float: right;
}
div#navbar {
    text-align: center;
    overflow: hidden;
    width: 100%;
}
div#navbar-inner {
    margin-left: -5px;
    font-size: 0;
    border-top: solid thin #ccc;
    border-bottom: solid thin #ccc;
    width: 810px;
}
div#navbar a {
    text-align: left;
    font-size: 14pt;
    border-right: solid thin #ccc;
    text-align: center;
    display: inline-block;
    width: 134px;
}
div#navbar a:last-child {
    border-right: none;
}
div#navbar a:hover {
    background-color: #475;
    color: white;
}
#searchform {
    width: 150px;
    font-size: 12pt;
    text-align: center;
}
#searchbox {
    padding: 0;
    margin: 0;
    width: 146px;
}
#submit {
    padding: 0;
    margin: 0;
    width: 53px;
}
.searchby {
    width: 93px;
}
div.navlink {
    padding: 2px 0;
}
div#footer {
    text-align: center;
    overflow: hidden;
    height: 40px;
    font-size: 80%;
    border-top: solid thin #ccc;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.info {
    font-size: 12pt !important;
    font-weight: bold;
    margin: 1.5em;
}
.error {
    font-size: 12pt !important;
    font-weight: bold;
    color: red;
    margin: 1.5em;
}

div.zero {
    /* Used where content is required to force correct positioning */
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}
