{% extends 'base.html' %}

{% block title %}INB372 Test{% endblock %}

{% block extra-head %}
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<LINK href="images/main.css" type=text/css rel=stylesheet>
{% endblock %}

{% block content %}
<CENTER>
<TABLE cellSpacing=0 cellPadding=0 width=778 bgColor=#ffffff 
background=images/top1bg.jpg border=0>
  <TBODY>
  <TR>
    <TD width=778>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE class=center height=100 cellSpacing=0 cellPadding=0 width=778 
bgColor=#ffffff border=0>
  <TBODY>
  <TR>
    <TD width=150 align=middle bgcolor="#6666FF"><img src="icon.png" width="131" height="76"></TD>
    <TD width=58 bgcolor="#6666FF">&nbsp;</TD>
    <TD width=110 vAlign=top bgcolor="#6666FF"><img src="43682.png" width="64" height="64"></TD>
    <TD width=110 vAlign=top bgcolor="#6666FF"><img src="43683.png" width="64" height="64"></TD>
    <TD width=110 vAlign=top bgcolor="#6666FF"><img src="43680.png" width="64" height="64"></TD>
    <TD width=110 vAlign=top bgcolor="#6666FF">&nbsp;</TD>
    <TD width=130>
      <TABLE class=center style="COLOR: #ff0000" cellSpacing=0 cellPadding=0 
      width=130 border=0>
        <TBODY>
        <TR>
          <TD 
          onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.23sc.cn')" 
          height=25>◇ <A title=设为首页 style="COLOR: #ff6600" 
            href="http://www.23sc.cn">Set Main page </A> 
</TD>
        </TR>
        <TR>
          <TD 
          onclick="window.external.AddFavorite('http://www.23sc.cn','友才网')" 
          height=25>◇ <A title=加入收藏 style="COLOR: #ff6600" 
            href="http://www.23sc.cn">Add to faviorte </A></TD>
        </TR>
        <TR>
          <TD height=25>◇ Contact us </TD>
  </TR></TBODY></TABLE></TD></TR></TBODY></TABLE>
<TABLE class=center style="FONT-SIZE: 5px" height=5 cellSpacing=0 cellPadding=0 
width=778 bgColor=#ffffff border=0>
  <TBODY>
  <TR>
    <TD width=88><IMG title=深圳市友才电子商务中心 height=5 alt=深圳市友才电子商务中心 
      src="images/topbt5.gif" width=88></TD>
    <TD width=86><IMG title=深圳网站建设 height=5 alt=深圳网站建设 
      src="images/topbt2.gif" width=86></TD>
    <TD width=86><IMG title=深圳网站推广 height=5 alt=深圳网站推广 
      src="images/topbt3.gif" width=86></TD>
    <TD width=86><IMG title=深圳域名注册 height=5 alt=深圳域名注册 
      src="images/topbt4.gif" width=86></TD>
    <TD width=86><IMG title=深圳虚拟主机 height=5 alt=深圳虚拟主机 
      src="images/topbt1.gif" width=86></TD>
    <TD width=86><IMG title=深圳企业邮局 height=5 alt=深圳企业邮局 
      src="images/topbt2.gif" width=86></TD>
    <TD width=86><IMG title=深圳友才网客户服务 height=5 alt=深圳友才网客户服务 
      src="images/topbt3.gif" width=86></TD>
    <TD width=86><IMG title=深圳友才网代理合作 height=5 alt=深圳友才网代理合作 
      src="images/topbt4.gif" width=86></TD>
    <TD width=88><IMG title=深圳友才上网导航 height=5 alt=深圳友才上网导航 
      src="images/topbt5.gif" width=88></TD></TR></TBODY></TABLE>
<TABLE class=center cellSpacing=0 cellPadding=0 width=778 bgColor=#ffffff 
border=0>
  <TBODY>
  <TR>
    <TD width=1 bgColor=#b0b0b0></TD>
    <TD width=87 height=25><A title=友才网 
      href="#">Main</A></TD>
    <TD width=1 bgColor=#b0b0b0></TD>
    <TD width=85><A title=网站建设 
      href="#">1</A></TD>
    <TD width=1 bgColor=#b0b0b0></TD>
    <TD width=85><A title=网站推广 
      href="#">2</A></TD>
    <TD width=1 bgColor=#b0b0b0></TD>
    <TD width=85><A title=域名注册 
      href="#">3</A></TD>
    <TD width=1 bgColor=#b0b0b0></TD>
    <TD width=85><A title=虚拟主机 
      href="#">4</A></TD>
    <TD width=1 bgColor=#b0b0b0></TD>
    <TD width=85><A title=企业邮局 
      href="#">5</A></TD>
    <TD width=1 bgColor=#b0b0b0></TD>
    <TD width=85><A title=客户服务 
      href="#">6</A></TD>
    <TD width=1 bgColor=#b0b0b0></TD>
    <TD width=85><A title=代理合作 
      href="#">7</A></TD>
    <TD width=1 bgColor=#b0b0b0></TD>
    <TD width=86><A title=论坛交流 href="#" 
      target=_blank>8</A></TD>
    <TD width=1 bgColor=#b0b0b0></TD></TR>
  <TR>
    <TD style="FONT-SIZE: 1px" bgColor=#b0b0b0 colSpan=19 
  height=1></TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=778 bgColor=#ffffff border=0>
  <TBODY>
  <TR>
    <TD style="FONT-SIZE: 1px" bgColor=#dcdcdc height=3></TD></TR>
  <TR>
    <TD align=right background=banner.JPG height=120>&nbsp;</TD>
  </TR></TBODY></TABLE>

<TABLE height=15 cellSpacing=0 cellPadding=0 width=778 border=0>
  <TBODY>
  <TR>
    <TD style="FONT-SIZE: 10px; LINE-HEIGHT: 10px" 
    background=images/bnbg1.gif height=15></TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=778 bgColor=#ffffff border=0>
  <TBODY>
  <TR>
    <TD vAlign=top width=168 height=400>
      <TABLE class=center height="100%" cellSpacing=0 cellPadding=0 width=168 
      bgColor=#ffffff background=images/leftbg.gif border=0>
        <TBODY>
        <TR>
          <TD class=lefttd align=middle bgColor=#ffffff height=50>&nbsp;</TD>
        </TR>
        <TR>
          <TD class=lefttd vAlign=top align=middle><BR>
            <TABLE class=bor style="TEXT-ALIGN: left" cellSpacing=0 
            cellPadding=0 width=140 bgColor=#ffffff border=1>
              <TBODY>
              <TR>
                <TD height=25><IMG height=11 src="images/icon1.gif" 
                  width=31>&nbsp;&nbsp;&nbsp;&nbsp;<A 
                  href="http://www.youcai.net/web/design/design.asp">video</A></TD>
              </TR>
              <TR>
                <TD height=25><IMG height=11 src="images/icon1.gif" 
                  width=31>&nbsp;&nbsp;video2<A 
                  href="#"></A></TD>
              </TR>
              <TR>
                <TD height=25><IMG height=11 src="images/icon1.gif" 
                  width=31>&nbsp;&nbsp;&nbsp;&nbsp;<A 
                  href="#">video3</A></TD>
              </TR>
              <TR>
                <TD height=25><IMG height=11 src="images/icon1.gif" 
                  width=31>&nbsp;&nbsp;&nbsp;&nbsp;<A 
                  href="#">video4</A></TD>
              </TR>
              <TR>
                <TD height=25><IMG height=11 src="images/icon1.gif" 
                  width=31>&nbsp;&nbsp;&nbsp;&nbsp;<A 
                  href="#">video5</A></TD>
              </TR>
              <TR>
                <TD height=25><IMG height=11 src="images/icon1.gif" 
                  width=31>&nbsp;&nbsp; &nbsp;audio<A 
                  href="#"></A></TD>
              </TR>
              <TR>
                <TD height=25><IMG height=11 src="images/icon1.gif" 
                  width=31>&nbsp;&nbsp;&nbsp;&nbsp;<A 
                  href="#">audio2</A></TD>
              </TR>
              <TR>
                <TD height=25><IMG height=11 src="images/icon1.gif" 
                  width=31>&nbsp;&nbsp; audio3<A 
                  href="http://bbs.youcai.net/sites/type.asp?typeid=39"></A></TD>
              </TR>
              <TR>
                <TD height=25><IMG height=11 src="images/icon1.gif" 
                  width=31>&nbsp;&nbsp;&nbsp;&nbsp;<A 
                  href="#">audio4</A></TD>
              </TR>
              <TR>
                <TD height=25><IMG height=11 src="images/icon1.gif" 
                  width=31>&nbsp;&nbsp;&nbsp;&nbsp;<A 
                  href="#">audio5</A></TD>
              </TR>
              <TR>
                <TD height=25><IMG height=11 src="images/icon1.gif" 
                  width=31>&nbsp;&nbsp;&nbsp; audio6<A 
                  href="#"></A></TD>
              </TR>
              <TR>
                <TD height=25><IMG height=11 src="images/icon1.gif" 
                  width=31>&nbsp;&nbsp;&nbsp;&nbsp;<A 
                  href="#">audio7</A></TD>
              </TR>
              <TR>
                <TD height=25><IMG height=11 src="images/icon1.gif" 
                  width=31>&nbsp;&nbsp;&nbsp; audio8<A 
                  href="#"></A></TD>
              </TR>
              <TR>
                <TD height=25><IMG height=11 src="images/icon1.gif" 
                  width=31>&nbsp;&nbsp;&nbsp;&nbsp;<A 
                  href="#">audio9</A></TD>
              </TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD>
    <TD vAlign=top align=middle width=610>
      <TABLE cellSpacing=0 cellPadding=0 width="98%" 
      background=images/top01.gif border=0>
        <TBODY>
        <TR>
          <TD align=left height=25><IMG height=11 src="images/icon1.gif" 
            width=31>　<A 
            href="#">Media snak </A>＞others</TD>
        </TR></TBODY></TABLE><BR>
      <TABLE style="TEXT-ALIGN: center" cellSpacing=0 cellPadding=0 width=590 
      border=0>
        <TBODY>
        <TR>
          <TD>
            <TABLE cellSpacing=0 cellPadding=0 width=180 
            background=images/bg.jpg border=0>
              <TBODY>
              <TR>
                <TD vAlign=bottom height=30>　　&nbsp;&nbsp;<A 
                  href="#" 
                  target=_blank>1</A> </TD>
              </TR>
              <TR align=middle>
                <TD height=120><A href="#" 
                  target=_blank><IMG height=100 
                  src="images/200512811262528550.jpg" width=160 
                  border=0></A></TD></TR></TBODY></TABLE><BR></TD>
          <TD>
            <TABLE cellSpacing=0 cellPadding=0 width=180 
            background=images/bg.jpg border=0>
              <TBODY>
              <TR>
                <TD vAlign=bottom height=30>　　2</TD>
              </TR>
              <TR align=middle>
                <TD height=120><A href="#" 
                  target=_blank><IMG height=100 
                  src="images/200512811254228231.jpg" width=160 
                  border=0></A></TD></TR></TBODY></TABLE><BR></TD>
          <TD>
            <TABLE cellSpacing=0 cellPadding=0 width=180 
            background=images/bg.jpg border=0>
              <TBODY>
              <TR>
                <TD vAlign=bottom height=30>　　&nbsp;3<A 
                  href="#" 
                  target=_blank></A> </TD>
              </TR>
              <TR align=middle>
                <TD height=120><A href="#" 
                  target=_blank><IMG height=100 
                  src="images/200512811244345002.jpg" width=160 
                  border=0></A></TD></TR></TBODY></TABLE><BR></TD></TR>
        <TR>
          <TD>
            <TABLE cellSpacing=0 cellPadding=0 width=180 
            background=images/bg.jpg border=0>
              <TBODY>
              <TR>
                <TD vAlign=bottom height=30>　　&nbsp;&nbsp;<A 
                  href="#" 
                  target=_blank>4</A> </TD>
              </TR>
              <TR align=middle>
                <TD height=120><A href="#" 
                  target=_blank><IMG height=100 
                  src="images/200512811233242552.jpg" width=160 
                  border=0></A></TD></TR></TBODY></TABLE><BR></TD>
          <TD>
            <TABLE cellSpacing=0 cellPadding=0 width=180 
            background=images/bg.jpg border=0>
              <TBODY>
              <TR>
                <TD vAlign=bottom height=30>　　&nbsp;&nbsp;<A 
                  href="#" 
                  target=_blank>5</A> </TD>
              </TR>
              <TR align=middle>
                <TD height=120><A 
                  href="#" 
                  target=_blank><IMG height=100 
                  src="images/200512811222862379.jpg" width=160 
                  border=0></A></TD></TR></TBODY></TABLE><BR></TD>
          <TD>
            <TABLE cellSpacing=0 cellPadding=0 width=180 
            background=images/bg.jpg border=0>
              <TBODY>
              <TR>
                <TD vAlign=bottom height=30>　　&nbsp;6<A 
                  href="#" 
                  target=_blank></A> </TD>
              </TR>
              <TR align=middle>
                <TD height=120><A href="#" 
                  target=_blank><IMG height=100 
                  src="images/200512811205699160.jpg" width=160 
                  border=0></A></TD></TR></TBODY></TABLE><BR></TD></TR>
        <TR>
          <TD>
            <TABLE cellSpacing=0 cellPadding=0 width=180 
            background=images/bg.jpg border=0>
              <TBODY>
              <TR>
                <TD vAlign=bottom height=30>　　&nbsp;&nbsp;<A 
                  href="#" 
                  target=_blank>7</A> </TD>
              </TR>
              <TR align=middle>
                <TD height=120><A href="#" 
                  target=_blank><IMG height=100 
                  src="images/200512811201670450.jpg" width=160 
                  border=0></A></TD></TR></TBODY></TABLE><BR></TD>
          <TD>
            <TABLE cellSpacing=0 cellPadding=0 width=180 
            background=images/bg.jpg border=0>
              <TBODY>
              <TR>
                <TD vAlign=bottom height=30>　　&nbsp;8<A 
                  href="#" 
                  target=_blank></A> </TD>
              </TR>
              <TR align=middle>
                <TD height=120><A href="#" 
                  target=_blank><IMG height=100 
                  src="images/200512811192586173.jpg" width=160 
                  border=0></A></TD></TR></TBODY></TABLE><BR></TD>
          <TD>
            <TABLE cellSpacing=0 cellPadding=0 width=180 
            background=images/bg.jpg border=0>
              <TBODY>
              <TR>
                <TD vAlign=bottom height=30>　　9<A 
                  href="#" 
                  target=_blank></A> </TD>
              </TR>
              <TR align=middle>
                <TD height=120><A href="#" 
                  target=_blank><IMG height=100 
                  src="images/200512811184313553.jpg" width=160 
                  border=0></A></TD></TR></TBODY></TABLE><BR></TD></TR>
        <TR>
          <TD>
            <TABLE cellSpacing=0 cellPadding=0 width=180 
            background=images/bg.jpg border=0>
              <TBODY>
              <TR>
                <TD vAlign=bottom height=30>　　&nbsp;&nbsp;<A 
                  href="#" 
                  target=_blank>10</A> 
</TD>
              </TR>
              <TR align=middle>
                <TD height=120><A 
                  href="#" 
                  target=_blank><IMG height=100 
                  src="images/200512811173551909.jpg" width=160 
                  border=0></A></TD></TR></TBODY></TABLE><BR></TD>
          <TD>
            <TABLE cellSpacing=0 cellPadding=0 width=180 
            background=images/bg.jpg border=0>
              <TBODY>
              <TR>
                <TD vAlign=bottom height=30>　　&nbsp;11<A 
                  href="#" 
                  target=_blank></A> </TD>
              </TR>
              <TR align=middle>
                <TD height=120><A href="#" 
                  target=_blank><IMG height=100 
                  src="images/200512811165810693.jpg" width=160 
                  border=0></A></TD></TR></TBODY></TABLE><BR></TD>
          <TD>
            <TABLE cellSpacing=0 cellPadding=0 width=180 
            background=images/bg.jpg border=0>
              <TBODY>
              <TR>
                <TD vAlign=bottom height=30>　　&nbsp;&nbsp;<A 
                  href="#" 
                  target=_blank>h#</A> </TD></TR>
              <TR align=middle>
                <TD height=120><A href="#" 
                  target=_blank><IMG height=100 
                  src="images/200512811161095101.jpg" width=160 
                  border=0></A></TD></TR></TBODY></TABLE><BR></TD></TR>
        <TR>
          <TD>
            <TABLE cellSpacing=0 cellPadding=0 width=180 
            background=images/bg.jpg border=0>
              <TBODY>
              <TR>
                <TD vAlign=bottom height=30>　　&nbsp;&nbsp;<A 
                  href="#" target=_blank>Inklude</A> 
</TD></TR>
              <TR align=middle>
                <TD height=120><A href="#" 
                  target=_blank><IMG height=100 
                  src="images/2005114107062659.jpg" width=160 
                border=0></A></TD></TR></TBODY></TABLE><BR></TD>
          <TD>
            <TABLE cellSpacing=0 cellPadding=0 width=180 
            background=images/bg.jpg border=0>
              <TBODY>
              <TR>
                <TD vAlign=bottom height=30>　　&nbsp;&nbsp;<A 
                  href="#" target=_blank>purevolume</A> 
                </TD></TR>
              <TR align=middle>
                <TD height=120><A href="#" 
                  target=_blank><IMG height=100 
                  src="images/20051149542197209.jpg" width=160 
                  border=0></A></TD></TR></TBODY></TABLE><BR></TD>
          <TD>
            <TABLE cellSpacing=0 cellPadding=0 width=180 
            background=images/bg.jpg border=0>
              <TBODY>
              <TR>
                <TD vAlign=bottom height=30>　　&nbsp;&nbsp;<A 
                  href="#" target=_blank>kj52</A> </TD></TR>
              <TR align=middle>
                <TD height=120><A href="#" 
                  target=_blank><IMG height=100 
                  src="images/20051149414138031.jpg" width=160 
                  border=0></A></TD></TR></TBODY></TABLE><BR></TD></TR></TBODY></TABLE>
      <TABLE cellSpacing=0 cellPadding=5 width="100%" border=0>
        <TBODY>
        <TR align=middle>
          <TD height=20>Main | Previous Page| <A 
            href="#">Next</A> 
            | <A 
            href="#">End</A> 
            Totally 2 pages</TD>
        </TR></TBODY></TABLE><BR></TD></TR></TBODY></TABLE>
<TABLE class=center cellSpacing=0 cellPadding=0 width=778 bgColor=#ffffff 
border=0>
  <TBODY>
  <TR>
    <TD align=middle background=images/bk.gif height=50>&nbsp;</TD>
  </TR></TBODY></TABLE>
<TABLE class=p12 cellSpacing=0 cellPadding=0 width=778 bgColor=#ffffff 
  border=0><TBODY>
  <TR>
    <TD align=middle width=80 height=125 rowSpan=6>&nbsp;</TD>
    <TD align=middle width=130 rowSpan=6>&nbsp;</TD>
    <TD colSpan=2 height=25>&nbsp;</TD>
  </TR>
  <TR>
    <TD colSpan=2 
      height=20>&nbsp;</TD>
  </TR>
  <TR>
    <TD width=288 height=20>&nbsp;</TD>
    <TD width=280>&nbsp;</TD>
  </TR>
  <TR>
    <TD colSpan=2 height=20>&nbsp;</TD>
  </TR>
</TBODY></TABLE>
</CENTER>
{% endblock %}
