{% extends 'base.html' %}
{% block title %}It works!{% endblock %}

{% block content %}
<h1>Welcome to Mediasnak!</h1>
<p>
There's nothing here yet! But if you really want to play around, try the barely-working <a href="/upload">upload</a> feature.
</p>

<p>
Developer notes:
</p>

<ul>
    <li>We should read the <a href="http://www.djangobook.com/">Django book</a> and check out <a href="http://djangosnippets.org/">djangosnippets</a></li>
    <li><a href="http://www.allbuttonspressed.com/projects/django-mediagenerator">django-mediagenerator</a>: Combines and compresses your JS and CSS files</li>
    <li><a href="http://www.allbuttonspressed.com/projects/nonrel-search">nonrel-search</a>: A simple full-text search engine for App Engine and other non-relational DBs &lt;== WE SHOULD GET THIS ONE</li>
</ul>

<p>
See also <a href="http://djangopackages.com/">Django Packages</a>. Many simple Django apps (e.g., <a href="https://bitbucket.org/ubernostrum/django-registration">django-registration</a>) should work unmodified. If you want to use <a href="http://robhudson.github.com/django-debug-toolbar/">django-debug-toolbar</a> you need to disable the SQLDebugPanel in your settings.
</p>
{% endblock %}
